@page "/identity/account/register"
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <EditForm Enhance Model="User" OnValidSubmit="HandleRegistration">
                <DataAnnotationsValidator />
                <ValidationSummary />
                <div class="card">
                    <div class="card-header">Kaydolmak için formu doldurun</div>
                    <div class="card-body">
                        <div class="form-group">
                            <label class="form-label">Ad Soyad</label>
                            <InputText class="form-control" @bind-Value="User.FullName" />
                        </div>
                        <div class="form-group mt-3">
                            <label class="form-label">Email</label>
                            <InputText class="form-control" @bind-Value="User.Email" />
                        </div>
                        <div class="form-group mt-3">
                            <label class="form-label">Şifre</label>
                            <input type="password" @bind="User.Password" class="form-control" />
                        </div>
                        <div class="form-group mt-3">
                            <label class="form-label">Şifreyi doğrula</label>
                            <input type="password" @bind="User.ConfirmPassword" class="form-control" />
                        </div>
                        <div class="form-group mt-3">
                            <butoon class="btn btn-outline-primary float-end" type="submit">Kaydol</butoon>
                        </div>
                    </div>
                </div>

            </EditForm>
        </div>
    </div>
</div>

@code {
    Register User = new();
    async Task HandleRegistration()
    {
        var result = await accountService.CreateAsync(User);
        if (result.Flag)
        {
            User = new();
        }
        else
        {
        }
    }
}