@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Popups
@using BaseLibrary.Entities
@inject SfDialogService dialogService

<SfDialog Width="350px" IsModal="true" ShowCloseIcon="true" @bind-Visible="IsVisible">
    <DialogEvents OnOpen="OpenDialog"> </DialogEvents>
    <DialogTemplates>
        <Header>Departman Ekle</Header>
        <Content>
            <EditForm Model="Department" Enhance OnSubmit="Save">
                <div class="card border-success">
                    <div class="card-body">
                        <div class="form-group">
                            <label class="form-label">İsim</label>
                            <InputText class="form-control" @bind-Value="Department.Name" />
                        </div>
                    </div>
                </div>
            </EditForm>
        </Content>
    </DialogTemplates>

    <DialogButtons>
        <DialogButton Content="KAYDET" Type="ButtonType.Submit" IsPrimary="true" OnClick="Save" />
    </DialogButtons>
</SfDialog>

@code {
    [Parameter] public GeneralDepartment Department { get; set; } = new();
    private bool IsVisible { get; set; } = false;

    public void OpenDialog()
    {
        IsVisible = true;
        StateHasChanged();
    }

    async void Save()
        {
            if(string.IsNullOrEmpty(Department.Name))
                await dialogService.AlertAsync("Lütfen departman ismini giriniz.", "Uyarı!");
        }
}
